.GameDetail {
  padding: 10px;
  margin-bottom: 10px;

  .game-opponent,
  .game-date,
  .game-venue,
  .game-result {
    margin-top: 15px;
  }
}

.win-card {
  background-color: #000000;
  border-color: #43aa8b;
  border-style: solid;
  border-radius: 20px;
  border-width: 2px;

  a {
    color: #43aa8b;
  }
}

.loss-card {
  background-color: #000000;
  border-color: #780000;
  border-style: solid;
  border-radius: 20px;
  border-width: 2px;

  a {
    color: #780000;
  }
}
