/*Color codes for pallette*/
@at-root .pallette {
  /* color pallette choice for this project consists of ten colors*/
  .color_one {
    background-color: #f94144; /*Artisanal*/
  }
  .color_two {
    background-color: #f3722c;
  }
  .color_three {
    background-color: #f9844a;
  }
  .color_four {
    background-color: #f9c74f; /*Edibles*/
  }
  .color-five {
    background-color: #90be6d; /*Hand Pruning*/
  }
  .color-six {
    background-color: #277da1; /*Maintenance*/
  }
  .color-seven {
    background-color: #577590; /*Precise*/
  }
  .color-eight {
    background-color: #4d908e; /*Old Growth*/
  }
  .color-nine {
    background-color: #f3722c;
  }
  .color-ten {
    background-color: #43aa8b; /*Design, Quality*/
  }
}
