.TeamPage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  .team-name-section {
    grid-column: span 3;
    justify-self: start;
    align-self: end;
  }

  .team-name {
    font-size: 4rem;
  }

  .win-loss-section {
    grid-column: span 1;
    justify-self: center;
  }

  .game-detail-section {
    grid-column: span 4;
  }

  .spinner {
    align-self: right;
  }
}
